* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    font-family: "Public Sans", sans-serif;
  }
  .btn{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 20px 0  ;
    border: none;
    outline: none;
    background-color: #FA8232;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 2555px) {
      padding: 10px 15px;
      gap: 10px;
      font-size: 14px;
    }
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .nav{
    width: 100%;
    background: #1B6392;
    padding: 20px;
    &:first-child{
      border-bottom: 1px solid #3f7ca3;
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .text{
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 400;
        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
      }
      .left-content{
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 768px) {
          flex-direction: column;
        }
        .follow-us{
          display: flex;
          align-items: center;
          gap: 10px;
          padding-right: 20px;
          border-right: 1px solid #3f7ca3;
          @media (max-width: 768px) {
            border-right: 0px solid transparent;
          }
          span{
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 400;
          }
          .icon{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
          }
        }
        .drop-down{
          display: flex;
          gap: 10px;
          padding-left: 10px;
          .language{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
}

  .nav{
    .container{
      .input{
        width: 60%;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        @media (max-width: 768px) {
          margin: 10px 0;
          width: 90%;
          padding: 8px;
        }
        input{
          border: none;
          outline: none;
          width: 100%;
          padding: 5px;
          @media (max-width: 768px) {
            padding: 2px;
          }
          &::placeholder{
            font-size: 14px;
            font-weight: 400;
            color: #77878F;
            font-family: "Public Sans", sans-serif;
          }
        }
        .search{
          cursor: pointer;
        }
      }
      .icons{
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
  .bottom-nav{
    background-color: #FFFFFF;
    box-shadow: 1px 0 0 1px #E4E7E9;
    width: 100%;
    padding: 20px;
    .container{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .left-side{
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .box{
          font-size: 14px;
          font-weight: 400;
          color: #5F6C72;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      .right-side{
        @media (max-width: 768px) {
          margin-top: 20px;
        }
        .box{
          font-size: 14px;
          font-weight: 400;
          color: #191C1F;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
  .widgets{
    padding: 20px 0;
    position: relative;
    .container{
      display: flex;
      gap: 20px;
      @media (max-width: 1277px) {
        flex-direction: column;
      }
      .box{
        width: 60%;
        position: relative;
        @media (max-width: 1277px) {
          width: 100%;
        }
          .contet{
            max-height: 590px;
            &:first-child{
              display: flex;
              align-items: center;
              background-color: #F2F4F5;
              padding: 80px 40px 40px;
              border-radius: 6px;
              -webkit-border-radius: 6px;
              -moz-border-radius: 6px;
              -ms-border-radius: 6px;
              -o-border-radius: 6px;
              @media (max-width: 1277px) {
                flex-direction: column;
              }
            .text{
              span{
                display: block;
                color: #2484C2;
                font-size: 14px;
                font-weight: 600;
                position: relative;
                padding-left: 30px;
                &::before{
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  background-color: #2DA5F3;
                  width: 24px;
                  height: 2px;
                }
              }
              h2{
                font-weight: 600;
                color: #191C1F;
                margin: 10px 0;
              }
              p{
                font-size: 18px;
                color: #475156;
                font-weight: 400;
              }
            }
            .image{
              position: relative;   
              img{
                width: 368px;
                @media (max-width: 1277px) {
                  width: 120px;
                }
              }
            }
          }
        }
        .dot{
          position: absolute;
          bottom: 20px;
          left: 50px;
          display: flex;
          align-items: center;
          gap: 10px;
          span{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: #ADB7BC;
            cursor: pointer;
            &.active{
              background-color: #191C1F;
            }
          }
        }
        &:last-child{
          max-height: 590px;
          width: 40%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          @media (max-width: 1277px) {
            width: 100%;
          }
          .conteant{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 20px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            @media (max-width: 768px) {
              flex-direction: column;
            }
            &:first-child{
              background-color: #191C1F;
              .text{
                p{
                  color: #EBC80C;
                }
                h5{
                  color: #FFFFFF;
                }
              }
            }
            &:last-child{
              background-color: #F2F4F5;
              .text{
                p{
                  color: #2DA5F3;
                  margin: 10px 0;
                  font-size: 18px;
                }
              }
            }
            .text{
              p{
                font-size: 14px;
              }
              h5{
                margin: 25px 0 0;
                font-weight: bold;
              }
            }
            .images{
              img{
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
  .dropdown-category{
    box-shadow: 0 0 0 1px #FFFFFF;
    top: 60px;
    @media (max-width: 767px) {
      top: 20px;
    }
    ul{
      li{
        list-style: none;
        padding: 10px ;
        font-size: 14px;
        width: 100%;
        display: block;
        cursor: pointer;
      }
    }
  }
  .dropdown-category-prodect {
    position: absolute;
    left: 200px;
    overflow: scroll;
    max-height: 200px;
    top: 0px;
    z-index: 300;
    background-color: #FFFFFF;
    border: 1px solid #E4E7E9; 
    border-radius: 3px; 
    padding: 10px ;
    box-shadow: 0 0 0 1px #FFFFFF;
    @media (max-width: 768px) {
      left: 100px;
    }
    ul{
      
      li{
        list-style: none;
        font-size: 14px;
        width: 100%;
        display: block;
        cursor: pointer;
        border-bottom: 1px solid #ADB7BC;
        .box{
          display: flex;
          align-items: center;
          gap: 20px;
          .text{
            span{
              &:first-child{
                display: block;
              }
              &:last-child{
                display: block;
                margin: 10px 0 0;
                color: #2DA5F3;
              }
            }
          }
          .image{
            img{
              width: 60px;
            }
          }
        }
      }
    }
  }
  